{% extends 'base.html' %}

{% load staticfiles %}


{%block style%}

	div.div1{
	height:75px;
	margin:5px;
	margin-bottom:20px;
	direction:rtl;
	border:3px ridge gray;
	border-radius:10px;
	padding-right:4px;
	padding-top:8px;
	}

	div.div2{
	float:right;
	margin:10px;
	margin-left:1px;
	font-size:20px;
	font-weight:bold;
	}
{%endblock%}



{% block content %}
<div class="row">

<div class="col-3 col-s-3 menu">
  <ul>
		<a href="/contacts">
    <li>all </li>
		</a>

		{%for group in groups%}
		<a href="/contacts/{{group.id}}">
    <li>{{group.name}} </li>
		</a>
		{% endfor %}

			<a href="/add_grp">
	    <li>+ + + add group + + + </li>
			</a>

  </ul>
</div>

<div style="direction:rtl"  class="col-6 col-s-9">
  <h1>خوش آمدید</h1>
  <p>در این سایت شما می توانید شماره تلفن و ایمیل مورد نظر را ذخیره کنید.</p>
	<div >

<a href="{% url 'add'%}">
	<div class="div1" style="background-color:pink;text-align: center;font-size:40px;">
<b>افزودن + <b>
</diV></a>


{% for contact in contacts.all %}
<div class="div1" >
<div class="div2">
{{contact.name}} &nbsp&nbsp{{contact.number}} &nbsp&nbsp
<div style="float:left">
	{% if grp_id %}
  <a href="/contacts/{{grp_id}}/delete/{{contact.id}}" >
		{% else %}
		<a href="/contacts/delete/{{contact.id}}" >
		{% endif %}
		<img class="star" src="{% static 'delete.png' %}" alt="rate" width="40" height=auto></a> &nbsp
  <a href="/contacts/update/{{contact.id}}" ><img class="star" src="{% static 'edit.png' %}" alt="rate" width="40" height=auto></a> &nbsp
</div></div></div>
{% endfor %}

</div>
</div>

{%endblock%}
