{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

	div.div1{
	height:75px;
	margin:5px;
	margin-bottom:20px;
	direction:rtl;
	border:3px ridge gray;
	border-radius:10px;
	padding-right:4px;
	padding-top:8px;
	}

	div.div2{
	float:right;
	margin:10px;
	margin-left:1px;
	font-size:20px;
	font-weight:bold;
	}

</style>
</head>
<body>

<div class="header">
  <b style="font-size:28px">seyed mostafa</b>
  <a href="javascript:{document.getElementById('logout').submit()}">
  <div style="float:right;margin-top:5px;font-size:20px"> logout </div>
  </a>
	<form id="logout"  action="{% url 'logout'%}" method="POST">
{%csrf_token%}
<input type="hidden" />
</div>

<div class="row">

<div class="col-3 col-s-3 menu">
  <ul>
      <li>manzel - 8</li>
    <li>famil - 10</li>
    <li>farzanegan - 4</li>
    <li>daneshgah - 7</li>
  </ul>
</div>

<div style="direction:rtl"  class="col-6 col-s-9">
  <h1>خوش آمدید</h1>
  <p>در این سایت شما می توانید شماره تلفن و ایمیل مورد نظر را ذخیره کنید.</p>
	<div >

<div class="div1" style="background-color:pink;text-align: center;font-size:40px;">
<b>افزودن + <b>
</diV>


<div class="div1" >
<div class="div2">
محسن &nbsp&nbsp09012440785 &nbsp&nbsp
<div style="float:left">
<img class="star" src="{% static 'delete.png' %}" alt="rate" width="40" height=auto> &nbsp
<img class="star" src="{% static 'edit.png' %}" alt="rate" width="40" height=auto> &nbsp
</div></div></div>
{% for contact in contacts.all %}
<div class="div1" >
<div class="div2">
{{contact.name}} &nbsp&nbsp{{contact.number}} &nbsp&nbsp
<div style="float:left">
  <img class="star" src="{% static 'delete.png' %}" alt="rate" width="40" height=auto> &nbsp
  <img class="star" src="{% static 'edit.png' %}" alt="rate" width="40" height=auto> &nbsp
</div></div></div>
{% endfor %}

</div>
</div>

{%endblock%}
